Flask==2.0.1

# an addition had to be made below to fix an issue related to a recent version of
# werkzeug. This library was not version locked in this file.
werkzeug==2.0.1

# Application server for both development and production.
gunicorn==20.1.0

# Testing and static analysis.
pytest==6.2.5
pytest-cov==3.0.0
flake8==4.0.1
